/Backend/Backend/nbproject/private/
/Backend/Backend/build/
/Backend/Backend/dist/
/Backend/ExampleServer/nbproject/private/
/Backend/ExampleClient/nbproject/private/
/Backend/ExampleClient/build/
/Backend/ExampleServer/build/
/Backend/ExampleClient/dist/
/Backend/ExampleServer/dist/
/Backend Files/Backend/build/
/Backend Files/Backend/dist/
/Backend Files/Backend/nbproject/private/
/Backend Files/ExampleClient/build/
/Backend Files/ExampleClient/dist/
/Backend Files/ExampleClient/nbproject/private/
/Backend Files/ExampleServer/build/
/Backend Files/ExampleServer/dist/
/Backend Files/ExampleServer/nbproject/private/
/Source/Backend/build/
/Source/Backend/dist/
/Source/Backend/nbproject/private/
/Source/ExampleClient/build/
/Source/ExampleClient/dist/
/Source/ExampleClient/nbproject/private/
/Source/ExampleServer/build/
/Source/ExampleServer/dist/
/Source/Frontend/build/
/Source/Frontend/dist/
/Source/Airlines/nbproject/private/
/Source/Airlines/build/
/Source/Airlines/dist/